{
  "extends": "airbnb",
  "rules": {
    "consistent-return": "off",
    "global-require": "off",
    "import/newline-after-import": "off",
    "import/no-dynamic-require": "off",
    "no-await-in-loop": "off",
    "no-lonely-if": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "no-shadow": "off",
    "no-underscore-dangle": "off"
  }
}
