{
  "extends": "airbnb",
  "rules": {
    "consistent-return": "off",
    "global-require": "off",
    "no-await-in-loop": "off",
    "no-param-reassign": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off"
  }
}
